# ================================
# Data generation & manipulation
# ================================
Faker
pandas
numpy
pyarrow

# ================================
# API ingestion
# ================================
requests

# ================================
# AWS
# ================================
boto3
python-dotenv

# ================================
# Data warehouse - Snowflake
# ================================
snowflake-connector-python

# ================================
# Testing
# ================================
pytest